section {
    background-color: var(--shape-body);
    min-width: 51.25rem;
    border-radius: .75rem;
    margin: 1.25rem 1.25rem 1.25rem 27.5rem;

    h2 {
        font: var(--font-heading-md);
        color: var(--text-highlight);
        margin: 5rem 8.125rem 2.5rem;
    }

    form    {
        margin-left: 8.125rem;
        margin-bottom: 1.5rem;

        div {
            display: flex;
            align-items: center;
            gap: .75rem;

            img {
                width: 1.5rem;
                height: 1.5rem;
                color: var(--input-placeholder);
            }

            h3  {
                font: var(--font-heading-sm);
                color: var(--text-highlight);
            }
        }
    }
}